.side-two {
  display: none;
  border: solid skyblue;
  background-color: skyblue;
  cursor: pointer;
  color: black;
  padding: 25% 40%;
}

.side-one {
  display: block;
  border: solid skyblue;
  background-color: skyblue;
  cursor: pointer;
  color: black;
  padding: 25% 40%;


}

.side-one:hover {
  text-decoration: underline;
}
