#side-two-JS {
  display: none;
}

#side-two-Op {
  display: none;
}

#side-two-Var {
  display: none;
}

#side-two-Func {
  display: none;
}

#side-two-Meth {
  display: none;
}

#side-two-Arg {
  display: none;
}

.Term_side:hover {
  cursor: pointer;
  text-decoration: underline;
}

.Term_side {
  background: skyblue;
  display: block;
  text-align: center;

}
